<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'partial/meta.twig' %}
</head>
<body>
    {% include 'partial/header.twig' %}

    <div class="app-content page-{{ page }}">
        {% block content %}{% endblock %}
    </div>

    {% include 'partial/footer.twig' %}
</body>
</html>
